<div class="container_big-card">
  <div class="big-card-photo">
    <img src="https://image.freepik.com/fotos-gratis/cinco-pirulitos-coloridos_23-2147689677.jpg"
    alt="Imagem pirulitos">
  </div>
  <div class="big-card-title">
    <h1><a href="#">GAZA E ISRAEL CHUPAM PIRULITOS PARA SELAR A PAZ</a></h1>
  </div>
  <div class="big-card-description">
    <p><a href="#">Premier israelense e autoridade palestina compraram pirulitos cabeção para as novas relações de paz duradoura.</a></p>
  </div>
</div>
