
.container_big-card{
  margin-left: 10px;
  margin-right: 10px;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

 }

 .big-card-title > h1 {
  font-size: 20px;
  margin-top: 15px;
 }

 .big-card-photo > img {
  width: 100%;
 }

 .big-card-description > p {
  color: blueviolet;
  margin-top: 10px;
 }


