
<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container_articles">
  <div class="articles-main">
    <app-big-card
    photoCover="https://image.freepik.com/fotos-gratis/cinco-pirulitos-coloridos_23-2147689677.jpg"
    cardTitle="Premier de Israel e autoridade Palestina chupam pirulitos para selar a paz."
    cardDescription="Netaniarru afirma que pirulito cai bem, mas o churros é imbatível."
    >

    </app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
    cardTitle="Nova seria anunciada"
    photoCover="https://image.freepik.com/fotos-gratis/cinco-pirulitos-coloridos_23-2147689677.jpg"
    >
    </app-small-card>
    <app-small-card
    cardTitle="Noite de terror é filme de arrepiar."
    photoCover="https://image.freepik.com/fotos-gratis/cinco-pirulitos-coloridos_23-2147689677.jpg"></app-small-card>
    <app-small-card
    cardTitle="Quem quer ser um milionário?"
    photoCover="https://image.freepik.com/fotos-gratis/cinco-pirulitos-coloridos_23-2147689677.jpg"></app-small-card>
  </div>
</div>
