

<app-menu-title></app-menu-title>
<div class="container_articles">
  <div class="articles-main">
    <app-big-card
      Id="1"
      photoCover="https://image.freepik.com/fotos-gratis/cinco-pirulitos-coloridos_23-2147689677.jpg"
      cardTitle="Premier de Israel e autoridade Palestina chupam pirulitos para selar a paz."
      cardDescription="Netaniarru afirma que pirulito cai bem, mas o churros é imbatível."
    >

    </app-big-card>

  </div>
  <div class="articles-others">

    <app-small-card
    Id="1"
    cardTitle="Nova seria anunciada"
    photoCover="https://image.freepik.com/fotos-gratis/cinco-pirulitos-coloridos_23-2147689677.jpg"
    >
    </app-small-card>

    <app-small-card
    Id="2"
    cardTitle="Noite de terror é filme de arrepiar."
    photoCover="https://image.freepik.com/fotos-gratis/cinco-pirulitos-coloridos_23-2147689677.jpg"></app-small-card>

    <app-small-card
    Id="3"
    cardTitle="Quem quer ser um milionário?"
    photoCover="https://image.freepik.com/fotos-gratis/cinco-pirulitos-coloridos_23-2147689677.jpg"></app-small-card>

  </div>
</div>
